body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    position: relative;
    max-width: 360px;
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 140px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    text-align: center;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

button {
    background: none;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    margin-left:120px;
}

button span {
    position: absolute;
    display: block;
}

button:hover {
    background: #03e9f4;
}

button:hover span:nth-child(1),
button:hover span:nth-child(3) {
    width: 100%;
}

button:hover span:nth-child(2),
button:hover span:nth-child(4) {
    height: 100%;
}

button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #03e9f4;
}

button span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
}

button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: #03e9f4;
}

button span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
}
button span:nth-child(5){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
}
p{
    color: white;
    text-align: center;
}
label{
    text-align: center;
}
